
<section ng-cloak ng-controller="BlogController as blgCtrl" ng-init="blgCtrl.getBlogs()">
  <a name="admin"></a>
 <!-- <a name="{{blog._id}}"></a>
{{blog.title}} -->
  <!-- <div class="page-header">
  <h1>WOOF! Republic <small>Blogs</small></h1>
</div> -->

<!-- Navigation Block -->
<div class="bloc l-bloc" id="nav-bloc">
	<div class="container">
		<nav class="navbar row">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">WOOF! Republic</a>
				<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-1">
				<ul class="site-navigation nav">
					<li>
						<a href="/about">about</a>
					</li>
					<li>
						<a href="/blogs">blog</a>
					</li>
					<li>
						<a href="/">home</a>
					</li>
					<li>
						<a href="/admin">admin</a>
					</li>
					<li>
						<a href="#">contacts</a>
					</li>
          </ul>
			</div>
		</nav>
	</div>
</div>




<h1>Blog</h1>
<a href="#create">Create Post</a>
<a href="#edit">Edit/Delete</a>
<a name="create"></a>
<div class="new-blog">
  <h2>New Blog Post</h2>
  <form class="new-form" ng-submit="blgCtrl.createBlog(blgCtrl.newBlog)">
    <input class="input_type" type="text"  placeholder="type of blog" ng-model="blgCtrl.newBlog.blogType"/> <br>
    <input class="input_title" type="text"  placeholder="title" ng-model="blgCtrl.newBlog.title"/><br>
    <input class="input_body" type="text"  placeholder="body" ng-model="blgCtrl.newBlog.body"/><br>
    <input class="input_type" type="text"  placeholder="link to image" ng-model="blgCtrl.newBlog.imgUrl"/> <br>
    <input class="input_author"type="text"  placeholder="author" ng-model="blgCtrl.newBlog.author"/><br>
    Tags
    <br>
    <input class="input_tags" type="text"  placeholder="tag 1" ng-model="blgCtrl.blog.tags.t_1"/><br>
    <input class="input_tags" type="text"  placeholder="tag 2" ng-model="blog.tags.t_2"/><br>
    <input class="input_tags" type="text"  placeholder="tag 3" ng-model="blog.tags.t_3"/><br>
    <input class="input_tags" type="text"  placeholder="tag 4" ng-model="blog.tags.t_4"/><br>
    <button type="submit">POST</button>
  </form>
</div>
<br>
<a name="edit"></a>
<div class="pull-left col-md-2 column" >
  Blog Posts
  <ul  ng-repeat="blog in blgCtrl.blogs | orderBy: '-date'">
    <section class="list-section">
      <a ng-click="tc = !tc" href="#">{{blog.title}}</a><br>
      <button ng-click="show = !show">Show</button>
      <button ng-click="blgCtrl.toggleForm(blog)">Edit</button>
      <button ng-click="blgCtrl.removeBlog(blog)">Delete</button><br>
      <div class="show-list" ng-show="show">
        {{blog.title}}<br>
          {{blog.body}}<br>
          {{blog.author}}<br>
      </div>

    </section>
    <br>
    <section class=" edit-section">
      <form class="edit-form" ng-if="blog.editing" ng-submit="blgCtrl.updateBlog(blog)"/>
      <input class="input_type" type="text"  placeholder="type of blog" ng-model="blog.blogType"/> <br>
      <input class="input_title" type="text"  placeholder="title" ng-model="blog.title"/><br>
      <input class="input_body" type="text"  placeholder="body" ng-model="blog.body"/><br>
      <input class="input_type" type="text"  placeholder="link to image" ng-model="blog.imgUrl"/> <br>
      <input class="input_author"type="text"  placeholder="author" ng-model="blog.author"/><br>
      <br>
      Tags
      <br>
      <input class="input_tags" type="text"  placeholder="tag 1" ng-model="blog.tags.t_1"/><br>
      <input class="input_tags" type="text"  placeholder="tag 2" ng-model="blog.tags.t_2"/><br>
      <input class="input_tags" type="text"  placeholder="tag 2" ng-model="blog.tags.t_3"/><br>
      <input class="input_tags" type="text"  placeholder="tag 2" ng-model="blog.tags.t_4"/><br>
      <button ng-click="blogctrl.toggleForm(blog)">Cancel Edit</button>
      <button type="submit">Update</button>
    </form>
    <br>

    </section>
  </ul>
</div>





</section>
