<a name="home"></a>
<section ng-cloak ng-controller="BlogController as blgCtrl" ng-init="blgCtrl.getBlogs()">



<!-- Navigation Block -->
<div class="bloc l-bloc" id="nav-bloc">
	<div class="container">
		<nav class="navbar row">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">WOOF! Republic</a>
				<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-1">
				<ul class="site-navigation nav">
					<li>
						<a href="/about">about</a>
					</li>
					<li>
						<a href="/blogs">blog</a>
					</li>
					<li>
						<a href="#">projects</a>
					</li>
					<li>
						<a href="/admin">admin</a>
					</li>
					<li>
						<a href="#">contacts</a>
					</li>
          </ul>
			</div>
		</nav>
	</div>
</div>
<!-- Navigation Block END -->

<div class="container">
  <div class="row">
    <div class="fbox">

      <article class="fbox-item" ng-repeat="blog in blgCtrl.blogs | orderBy: '-date'">

          <div class="post news">
        <div class="post-img-content">
            <img src="{{blog.imgURL}}" class="img-responsive" />
            <span class="post-date">{{blog.date | date: MM/dd/yyyy}}</span>

        </div>
      </div>
        <h4 class="article-title">{{blog.title}}</h4>
        <br>
        <p class="article-contents">
          {{blog.body}} [...] <a href="/{{blog._id}}"><i>Read More</i></a>
        </p>
        <br>

        <div class="tag-buttons">
          <button class="btn btn-primary" ng-if="blog.tags.t_1" type="button" >{{blog.tags.t_1}}</button>
          <button class="btn btn-primary" ng-if="blog.tags.t_2"type="button">{{blog.tags.t_2}}</button>
          <button class="btn btn-primary" ng-if="blog.tags.t_3"type="button">{{blog.tags.t_3}}</button>
          <button class="btn btn-primary" ng-if="blog.tags.t_4"type="button">{{blog.tags.t_4}}</button>


        </div>

        <section class="post-meta">
          <time datetime="{{blog.date | date: MM/dd/yyyy}}" itemprop="datePublished" pubdate>{{blog.date | date: MM/dd/yyyy}}</time>
          by
          <a href="#">{{blog.author}}</a>
          <a href="http://chalkkids.co.uk/2016/08/joining-forces-mums-kids-holiday/#disqus_thread" data-disqus-identifier="{{blog._id}} http://localhost:8080/blogs/?p={{blog._id}}">Leave a comment</a>
          <a href="#">Comments<span class="badge">42</span></a>
        </section>



      </article>

    </div>
  </div>
</div>
<!-- POST Block END -->










 </section>
