<div class="row text-center header-bar">
    <div class="col-sm-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="glyphicon glyphicon-tree-conifer"></i>
        </span>
        <h4 class="service-heading">City Guide</h4>
        <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
    </div>
    <div class="col-sm-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="glyphicon glyphicons-dog"></i>
        </span>
        <h4 class="service-heading"><a href="#">Humor</a></h4>
        <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
    </div>
    <div class="col-sm-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="glyphicon glyphicon-tint"></i>
        </span>
        <h4 class="service-heading">Dog</h4>

    </div>
    <div class="col-sm-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="glyphicon glyphicon-tint"></i>
        </span>
        <h4 class="service-heading">Where to Shop</h4>

    </div>
</div>
